.d1 {
  display: flex;
  padding: 100px 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.d1 h1 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
}
.d1 p {
  color: rgb(114, 114, 114);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 540px;
  margin-top: 50px;
  margin-bottom: 57px;
}
.d {
  background: rgb(238, 239, 241);
  margin-top: 100px;
}
